NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_COOKIE_DOMAIN=
NEXT_PUBLIC_ROLE_DESKTOP_PREVIEW=false
NEXT_PUBLIC_NOTIFICATIONS_V2=true
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD0yql92PxxhUrdXhWXM8RtqxcEzNB9lyM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=v3-rms.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=v3-rms
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=v3-rms.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=204805554525
NEXT_PUBLIC_FIREBASE_APP_ID=1:204805554525:web:296a60399953a7fefb68b4
NEXT_PUBLIC_FIREBASE_VAPID_KEY=ZIn_fXSjVc5e9l-2qeX5ni-nzD8KG0Ufcl2OyPsNp10
